@import './tailwind.css';
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@400;500;600;700;800;900&family=Lato:wght@400;500;600;700;800;900&display=swap');

body {
    font-family: 'Lato', 'K2D', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #121212;
    color: #ffffff;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}